/* police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
}

body {
    margin: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Header */

header {
    padding: 0 2rem ;
}

/* Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    padding: 2rem ;

}

nav a:hover,
nav a:focus {
    color: #0065fc;
    border-top: 3px solid #0065fc;
}

/*main*/
main {
    padding: 0 2rem;
}

main h1,
p{
    margin-bottom: 1.2rem;
}

/* Footer */

footer{
    padding: 40px 50px 50px;
    background-color: #f2f2f2;
}

footer section{
    flex: 1;
    justify-content: space-evenly;
}

footer li{
    margin-bottom: 15px;
}

footer a:hover,
footer a:focus{
    font-weight: 600;
    color: #0065FC;
}

/**/
.flex{
    display: flex;
}


/*class nav*/
.logo{
margin-right: auto;
padding: 0 2rem;
}

.nav-flex {
    display: flex;
    padding: 0 20px 0 0;
}

/*class header*/
.first-title {
    padding: 0 2rem ;
}

.searchButton{
    display: flex;
}

.searchButton i {
    padding: 1.2rem 1.1rem;
    background-color: #f2f2f2;
    border-radius: 1rem 0 0 1rem;
}

.searchButton input{
    flex-basis: 15rem;
    background-color: #ffffff;
    border: 0.5px solid #f2f2f2;
}

.searchButton input::placeholder{
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
}

.searchButton button{
    background-color: #0065fc;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1rem;
    border: 0;
    cursor: pointer;
    opacity: 0.95;
}

.searchButton button:hover,
.searchButton button:focus{
    opacity:1;
}
/*Class Main*/

/*Class Filters*/



.flex-filter{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.flex-filter li > i {
    color: #0065fc;
    background-color: #deebff;
    padding: 1rem;
    border-radius: 50%;
    margin: -3px;
}

.filter-flex li{
    display: inline-flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    margin-right: 5px;
    padding-right: 20px;
    border-radius: 2rem;
}

.flex-filter a {
    padding: 0 16px 0 16px;
}

.flex-filter li:hover,
.flex-filter li:focus{
    background-color: #DEEBFF;
    transform: scale(1.02);
    transition: all 200ms ease;
    cursor: pointer;
}



/* Hébergements*/
.logements {
    display: flex;
    align-items: center;
    gap: 16px
}

.logements i {
    color: #0065FC;
    width: 32px;
    height: 32px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular{
    flex-basis: 33%;
}

.overnight{
    order: -1;
    flex-basis: 66%;

}

.hotel{
    display: flex;
    gap: 16px;

}

.popular,
.overnight {
    border: 1px solid red;
    padding: 16px;
    background-color: #f2f2f2;
    border-radius: 16px;
}

.overnight figure{
border : 1px solid blue;
flex-basis: calc(33%-16px);
}

.overnight-list{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: space-around;
    margin-bottom: 16px;
}

.more{
    font-weight: bold;
}

.more:hover,
.more:focus{
    color: #0065fc;
    cursor: pointer;
}
