/* police d'écriture */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: "Raleway", "sans-serif";
}


ul{
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img{
    object-fit: cover;
}

body,
nav figure{
    margin: 0;
}

/* Header */

header {
    padding-left: 32px ;
}



/* Nav */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a:hover,
nav a:focus {
    color: #0065fc;
    border-top: 3px solid #0065fc;
    padding-top: 23px;
}

.align-nav {
    display: flex;
    gap: 16px;
    margin-right: 16px;
}

/*main*/
main {
    padding: 0 32px;
}

main h1,
p{
    margin-bottom: 20px;
}

/* Footer */

footer{
    padding: 40px 50px 50px;
    background-color: #f2f2f2;
}

footer section{
    flex: 1;
}

footer li {
    margin-bottom: 15px;
    margin-left: -40px;
}

footer a:hover,
footer a:focus{
    font-weight: 600;
    color: #0065FC;
}

.align {
    display: flex;
}


/*class nav*/
.logo{
margin-right: auto;
padding: 0 32px;
height: 70px;
}

/*class header*/

.bouton-rechercher{
    display: flex;
}

.bouton-rechercher i {
    padding: 19px 17px;
    background-color: #f2f2f2;
    border-radius: 16px 0 0 16px;
}

.bouton-rechercher input{
    background-color: #ffffff;
    border: 0.5px solid #f2f2f2;
}

.bouton-rechercher input::placeholder{
    font-weight: bold;
    font-size: 1.2rem;
    padding: 1rem;
}

.bouton-rechercher button{
    background-color: #0065fc;
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1rem;
    border: 0;
    cursor: pointer;
    opacity: 0.95;
}

.bouton-rechercher button:hover,
.bouton-rechercher button:focus{
    opacity:1;
}

/*Class Filtres*/



.alignement-titre-filtre {
    display: flex;
    align-items: center;
    gap: 16px;
}

.filtres i {
    color: #0065fc;
    background-color: #deebff;
    padding: 16px;
    border-radius: 50%;
    margin: -3px;
}

.filtres li {
    display: inline-flex;
    align-items: center;
    border: 2px solid #f2f2f2;
    margin-right: 5px;
    padding-right: 20px;
    border-radius: 32px;
}

.filtres a {
    padding: 0 16px 0 16px;
}

.filtres li:hover,
.filtres li:focus{
    background-color: #DEEBFF;
    transform: scale(1.02);
    transition: all 200ms ease;
    cursor: pointer;
}

.fa-info{
    border: solid 2px #f2f2f2;
    border-radius: 50%;
    padding: 10px;
}



/* Hébergements + populaire */

.conteneur{
    display: flex;
    justify-content: space-between
}

.chambre{
    order: -1;
    flex-basis: 60%;
}

.populaire{
flex-basis: 35%;
}

.liste-chambre{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.liste-chambre figure{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 24%;
    min-height: 250px;
    box-shadow: 2px 2px 2px 2px #d9d9d9;
}

.liste-chambre img{
    width: 100%;
    height: 40%;
    border-radius: 20px 20px 0 0;
}



.liste-populaire {
    display: flex;
    flex-flow: column wrap-reverse ;
    
}

.fa-chart-line {
    align-self: center;
    padding-right: 32px;
}

.espace{
    justify-content: space-between;
}

.liste-populaire figure{
    display: flex;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    max-height: 200px;
}

.liste-populaire img{
    width: 90%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

.liste-populaire figcaption{
    max-width: 155px;
}

.chambre,
.populaire{
    padding: 16px;
    background-color: #f2f2f2;
    border-radius: 20px;
}

.plus{
    font-weight: bold;
}

.plus:hover,
.plus:focus{
    color: #0065fc;
    cursor: pointer;
}


/* étoiles */
.bleu{
    color: #0065fc;
}

.gris{
    color: #d9d9d9;
}


/* Activités */

.liste-activites{
    display: flex;
    flex-wrap: wrap;
    margin-left: -45px;
}
.colonne{
    display: flex;
    flex-direction: column;
}

.liste-activites img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 85%;
    height: 700px;
}

.liste-activites figure{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 20%;
    box-shadow: 2px 2px 2px 2px #d9d9d9;
}

.activite-sd img{
    max-height: 30%;
}

.activite-xl img{
    max-height: 100%;
}

.activite60 img{
    max-height: 60%;
}

.liste-activites figcaption{
    padding: 16px;
}


.icone-rechercher{
    display: none;
}

@media (max-width: 991px) {

    
    nav a {
        border-bottom: 3px solid #d9d9d9;
    }

    nav a:hover,
    nav a:focus {
        color: #0065fc;
        border-top: none;
        border-bottom: 3px solid #0065fc;
}

    .bouton-rechercher{
        justify-content: center;
    }



    .bouton-rechercher button{
        border-radius: 16px 16px 16px 16px;
    }
    
    .logo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    nav{
        display: block;
    }

    .align-nav{
        padding-top: 20px;
        justify-content: center;
        gap:none;
        margin-right: none;
    }

    .icone-rechercher{
        display: block;
    }
    .texte-rechercher{
        display: none;
    }
    .conteneur{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .chambre{
        order:1;
        background-color: white;
    }

    .liste-chambre,
    .liste-activites {
        display: flex;
        flex-flow: column wrap-reverse;
    }
    
    .liste-chambre{
        flex-flow: column wrap-reverse;
    }

    .liste-activites{
        flex-flow: column wrap;
    }

    .liste-chambre figure,
    .liste-activites figure {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        padding: 10px;
        min-width: 100%;
    }
    
    .liste-chambre img,
    .liste-activites img{
        width: 100%;
        height: 100px;
        background-size: 100% 100%;
        border-radius: 20px 20px 0 0;
        object-fit: cover;
    }
    
    .liste-chambre figcaption,
    .liste-activites figcaption{
        padding-left: 16px;
    }


    .liste-populaire figure,
    .liste-chambre figure{
        border-radius: 20px;
        box-shadow: 5px 5px 5px 5px #f2f2f2;
    }
}

@media (max-width: 767px) {
        
        .align{
            display: flex;
            flex-direction: column;
        }

    .chambre{
        padding: 16px;
        border-radius: 20px;
    }
}
